/*******************************/
/* CODE VOOR HET EERSTE BLOKJE */
/*******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  font-family:'Expletus Sans';
  src:url('https://assets.codepen.io/274456/ExpletusSans-Regular.ttf');
  font-weight:400;
}

@font-face {
  font-family:'Expletus Sans';
  src:url('https://assets.codepen.io/274456/ExpletusSans-Bold.ttf');
  font-weight:700;
}


li:first-of-type {
  padding:1em;
  overflow:auto;
}

li:first-of-type h2 {
  /* JOUW CODE HIER */
  font-family: 'Expletus Sans', sans-serif;
  font-size:2em;  
}

li:first-of-type p {
  /* JOUW CODE HIER */
  font-family: 'Expletus Sans', sans-serif;
  line-height:1.5em;


}

/* hiermee selecteer je de eerste letter van de p in het eerste blokje */
li:first-of-type p::first-letter {
  /* JOUW CODE HIER */
  font-size:2em;
  font-weight:bold;  

  
}





/*******************************/
/* CODE VOOR HET TWEEDE BLOKJE */
/*******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  font-family:'Montserrat';
  src:url('https://assets.codepen.io/274456/Montserrat-Thin.ttf');
  font-weight:100;
}

/* hiermee selecteer je het tweede blokje */
li:nth-of-type(2) {
  /* custom properties voor tweede blokje */
  --color:hsl(0 0% 100%);
  --background:rgb(0 24 54);
  --shadow:Cyan;
  
  /* met onderstaande regels staat de tekst in het midden */
  /* en elk woord op een nieuwe regel */
  display:grid;
  grid-auto-columns:min-content;  
  place-content:center;
  text-align:center;
  
  background-color:var(--background);
}

li:nth-of-type(2) h2 {
  margin:0;
  color:var(--color);

  /* JOUW CODE HIER */
  font-family: 'Montserrat', sans-serif;
  font-size:3em;
  /* 100 staat voor heel dun - 900 voor heel vet */
  font-weight:100;
  /* om de regels wat compacter op elkaar te zetten */
  line-height:.9em;
  /* alles in hoofdletters */
  text-transform:uppercase;
  color:var(--color);
  text-shadow:
  0 0 0.1em var(--shadow),
  0 0 0.2em var(--shadow),
  0 0 0.3em var(--shadow) /* geen komma na de laatste */
  ;
}





/******************************/
/* CODE VOOR HET DERDE BLOKJE */
/******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  font-family: 'Saira-Condensed';
  src: url('https://assets.codepen.io/274456/Saira_Condensed-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
li:nth-of-type(3) {
  /* custom properties voor derde blokje */
  --color:white;
  --background:rgb(230 127 138);
  --shadow:rgb(0 0 0 / .75);

  /* JOUW CODE HIER */
  display:grid;
  grid-auto-columns:min-content;
  place-content:center;
  text-align:center;
  
  /* roze als achtergrondkleur */
  background-color:var(--background);

}

li:nth-of-type(3) h2 {
  margin:0;
  /* https://css-tricks.com/almanac/properties/t/transform/ */
  transform: skewY(-10deg);
  
  /* vergeet de quotes niet - nodig door de spaties*/
  font-family:'Saira-Condensed';
  font-size:3.5em;
  line-height:1em;
  /* om de letters wat verder uit elkaar te zetten */
  letter-spacing:.1em;
  text-transform:uppercase;
  color:var(--color);
  text-shadow:.1em .1em 0 var(--shadow);
  
}